{% extends app.request.isXmlHttpRequest ? "layout_ajax.html.twig" : "layout.html.twig" %}

{% block js %}
{% endblock %}

{% block body %}
	<div class="page-header">
		<h1>Lista Adminów</h1>
	</div>
    <div class="jumbotron">
		<br>
		<table class="table">
            <thead><tr><th style="width:1%">ID</th><th style="width:25%">Nick</th><th style="width:20%">SteamID</th><th style="width:5%">Kontakt</th><th style="width:15%">Serwer</th><th style="width:10%">Typ</th><th style="width:30%">Wygasa</th><th style="width:5%">Aktywny</th><th style="width:5%">Edytuj</th></tr></thead>
            <tbody>
            {% for id, admin in admins %} 
                <tr style="height: 42px;">
					<td style="vertical-align: middle;"><span class="badge" style="display: inline">{{ id + 1 }}</span></td>
					<td>{{ admin.name }}</td><td>{{ admin.steamid }}</td>
					<td>{% if 'steamcommunity.com' in admin.contact %}<a href="{{ admin.contact }}">Steam</a>{% elseif 'cs-reload.pl' in admin.contact %}<a href="{{ admin.contact }}">Forum</a>{% elseif admin.contact starts with 'gg:' %}<a href="{{ admin.contact }}">GG</a>{% elseif admin.contact starts with 'skype:' %}<a href="{{ admin.contact }}?chat">Skype</a>{% elseif admin.contact == '' %}Brak{% else %}{{admin.contact}}{%endif%}</td>
					<td>{% if admin.server == '' %}Wszystkie{% else %}{{ admin.server }}{% endif %}</td>
					<td>{% if admin.type == '2' %}Admin{% elseif admin.type == '1' %}Stały{% else %}Testowy{% endif %}</td>
					<td style="vertical-align: middle;">{% if admin.date == '0' %}Nigdy{% else %}{{ admin.date|date("d/m/Y H:i:s") }}{% endif %}</td>
					<td style="vertical-align: middle;" align="center"><span class="badge" style="display: inline"><span class="glyphicon {% if admin.active %}glyphicon-ok{% else %}glyphicon-remove{% endif %}"></span></span></td>
					<td align="center" style="vertical-align: middle;"><a href="javascript:void(0)" onclick='loadpage("{{ path('adminsedit', {id:admin.id}) }}");'><span class="badge" style="display: inline"><span class="glyphicon glyphicon-wrench"></span></span></a></td>
				</tr>
            {% endfor %}
             </tbody>
        </table>
		<button class="btn btn-success btn-block" onclick='loadpage("{{ path('adminsadd') }}");'><span class="glyphicon glyphicon-plus-sign"></span> Dodaj Admina</button><br/>
		<button class="btn btn-primary btn-block" onclick='loadpage("{{ path('admin') }}", "{{ path('login') }}");'><span class="glyphicon glyphicon-arrow-left"></span> Wróć do Panelu Administracyjnego</button>
    </div>
{% endblock %}