{% extends app.request.isXmlHttpRequest ? "layout_ajax.html.twig" : "layout.html.twig" %}

{% block js %}
<script src="{{ asset('js/profile.js') }}" async></script>
{% endblock %}

{% block body %}
	<div class="page-header">
		<h1>Profil Użytkownika</h1>
	</div>
    <div class="jumbotron form-horizontal">
		<form id="form" role="form" class="form-horizontal" action="" method="post" data-change="{{ path('change') }}" data-save="{{ path('save') }}">
			<div class="form-group">
				<label class="margin control-label col-sm-2" style="text-align: left;" for="login"><h4><b>Login:</b></h4></label>
				<div class="col-sm-5">
					<input type="name" class="form-control editable" name="login" required value="{{ user.login }}" data-default="{{ user.login }}">
				</div>
			</div>
			<br>
				<div class="form-group">
				<label class="margin control-label col-sm-2" style="text-align: left;" for="email"><h4><b>Email:</b></h4></label>
				<div class="col-sm-5">
					<input type="name" class="form-control editable" name="email" required value="{{ user.email }}" data-default="{{ user.email }}">
				</div>
			</div>
			<br>
			<div class="form-group">
				<label class="margin control-label col-sm-2" style="text-align: left;" for="avatar"><h4><b>Avatar:</b></h4></label>
				<div class="col-sm-5">
					<input type="name" class="form-control editable" name="avatar" required value="{{ user.avatar }}" data-default="{{ user.avatar }}">
				</div>
			</div>
			<br>
			<div class="form-group">
				<label class="margin control-label col-sm-2" style="text-align: left;" for="group"><h4><b>Grupa:</b></h4></label>
				<div class="col-sm-5">
					<select class="form-control editable" {% if user.permissions is defined %} data-default="{{ user.group }}" name="group" required {% endif %}>
						{% for group in groups %}
						<option value="{{ group.id }}" {% if user.permissions is defined %} {% if user.group == group.id %} selected {% endif %}{% endif %}>{{ group.name }}</option>
						{% endfor %}
					</select>
				</div>
			</div>
			<br>
			<div class="form-group">
				<label class="margin control-label col-sm-2" style="text-align: left;" for="permissions"><h4><b>Uprawnienia:</b></h4></label>
					<div class="col-sm-5">
						<select class="form-control editable" name="permissions" {% if user.permissions is defined %} data-default="{{ user.permissions }}" required {% if user.id == '1' %} disabled {% endif %}{% endif %}>
							<option value="0" {% if user.permissions is defined %} {% if user.permissions == '0' %} selected {% endif %}{% endif %}>Użytkownik</option>
							<option value="1" {% if user.permissions is defined %} {% if user.permissions == '1' %} selected {% endif %}{% endif %}>Administrator</option>
						</select>
					</div>
				</div>
			<br>
			<div class="form-group" {% if user.group == '0' %} style="display:none" {% endif %}>
				<label class="margin control-label col-sm-2" style="text-align: left;" for="responsibilities"><h4><b>Obowiązki:</b></h4></label>
				<div class="col-sm-5">
					<textarea rows="6" class="form-control editable" name="responsibilities" data-default="{% if responsibilities.responsibilities is defined %}{{ responsibilities.responsibilities }}{% endif %}" required>{% if responsibilities.responsibilities is defined %}{{ responsibilities.responsibilities }}{% endif %}</textarea>
				</div>
			</div>
			<br>
			<div class="form-group">
				<label class="margin control-label col-sm-2" style="text-align: left;" for="newpassword"><h4><b>Zmień Hasło:</b></h4></label>
				<div class="col-sm-5">
					<input type="password" class="form-control" id="newpassword" name="newpassword" required value="" placeholder="Wpisz swoje nowe hasło">
				</div>
			</div>
			<div class="form-group">
				<label class="margin control-label col-sm-2" style="text-align: left;" for="oldpassword"><h4><b>Aktualne Hasło:</b></h4></label>
				<div class="col-sm-5">
					<input type="password" class="form-control" id="oldpassword" name="oldpassword" required value="" placeholder="Potwierdź wpisując aktualne hasło">
				</div>
			</div>
		</form>
		<button class="btn btn-success btn-block" id="save"><span class="glyphicon glyphicon-floppy-disk"></span> Zapisz Profil</button>
		<br>
		<button class="btn btn-warning btn-block" id="change"><span class="glyphicon glyphicon-lock"></span> Zmień Hasło</button>
		<br>
        <button class="btn btn-danger btn-block" onclick='logout();loadpage("{{ path('logout') }}", "{{ path('register') }}");'><span class="glyphicon glyphicon-off"></span> Wyloguj Się</button>
		<br>
		<div id="result"></div>
    </div></div>
{% endblock %}